:root {
    --primary-brand: #4D5AE5;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --white: #ffffff;
    --blue: #404BBF;
    --green-footer-icons:#31D0AA;
    --svg-icons-color:#8E8F99;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: var(--text);
    background-color: var(--white);
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0.02em
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    letter-spacing: 0.02em;
    color: var(--text);
}

.link:focus {
    color: var(--dark);
}

.link:active {
    color: var(--primary-brand);
}

.image {
    display: block;
    height: auto;
    width: 100%;
}

.text-center {
    text-align: center;
}

.container {
    width: 1158px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

/* ========LOGO============= */
.logo {
    font-family: Raleway, sans-serif;
    color: var(--dark);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
}

.logo>span {
    color: var(--primary-brand);
}

.site-footer .link.logo {
    display: inline-block;
    margin-bottom: 16px;
    color: var(--light);
    line-height: 1.1666;

}

/* =========menu header ===========*/
.page-header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header>.container {
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}

/* ==============footer ================*/
.site-footer {
    padding: 100px 0 100px 0;
    background-color: var(--dark);
    color: var(--accent);
}

.site-footer .container-wrapper {
    max-width: 264px;

}

/* ======menu navigation========= */
.main-nav {
    column-gap: 77px;
}

.page-header .list {
    column-gap: 40px;
}

.site-nav .link {
    font-weight: 600;
    color: var(--dark);
}

.site-nav .link:hover {
    color: var(--text);
}

.site-nav .link:active,
.site-nav .link.active {
    color: var(--primary-brand);
}


.hero.section {
    background-color: var(--dark);
    padding: 192px 0;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1600px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ==============TITLE============== */
.title {
    margin-bottom: 48px;
    color: var(--white);
    font-size: 56px;
    line-height: 1.07;
}

.subtitle {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
}

.subject {
    margin-bottom: 8px;
    color: var(--dark);
    font-size: 20px;
    line-height: 1.2;
}

/* ============BUTTON=========== */
.button {
    display: inline-block;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.04em;
}

.button.primary {
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--primary-brand);
    color: var(--white);
}

.button.primary:active {
    background-color: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button.primary:hover,
.button.primary:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px 
    rgba(46, 47, 66, 0.16), 0px 2px 1px 
    rgba(46, 47, 66, 0.08);
}
.button.secondary {
    border: 1px solid var(--accent);
    padding: 12px 24px;
    background-color: var(--light);
    color: var(--primary-brand);
    line-height: 1.5;
}

.button.secondary:hover,
.button.secondary:focus {
    border: 1px solid var(--primary-brand);
    background-color: var(--primary-brand);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button {
    justify-content: center;
    column-gap: 24px;
    margin-bottom: 72px;
}

/* ==============SECTION============== */
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section:nth-child(2n+4) {
    background-color: var(--light);
}

.section:nth-child(2) {
    padding-bottom: 0;
}

.section.secondary {
    padding-top: 96px;
}

/* ==============LIST============== */
.list {
    list-style-type: none;
}

.skill-box.list {
    column-gap: 24px;
}

.skill-box>.item {
    width: calc((100% - 72px)/4);
}

.work-type,
.employees-desc {
    column-gap: 24px;
}

.work-type>.item {
    width: calc((100% - 48px) / 3);
    background-image:  linear-gradient (0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1));
}

.employees-desc>.item {
    width: calc((100% - 72px) / 4);
    background-color: var(--white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.gallery {
    column-gap: 24px;
    row-gap: 48px;
}
.gallery .link{
    display: block;
}
.gallery>.item {
    width: calc((100% - 48px)/3);
    background-color: var(--white);
    border: 0.5px solid var(--light);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    font-size: 16px;
    font-weight: 400;
}

.gallery .link:hover,
.gallery .link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.employees-desc .description,
.gallery .description {
    padding: 32px 16px 32px 16px;
}
/* ============ SOCIAL MEDIA ANS IMAGES ========*/
.skill-images {
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
}
.skill-icon {
    width: 64px;
    height: 64px;
    margin: 0;
    fill: var(--dark);
    display: block;
    margin: 0 auto;
}
.skill-text{
    padding-top: 8px;
}
.contacts.list {
    justify-content: space-around;
    margin-top: 12px;
}
.team.contacts .link {
    display: block;
    background-color: var(--primary-brand);
    padding: 12px;
    border-radius: 50%;
}
.team.contacts .link:active{
    background-color: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.team .icon-contacts {
    width: 16px;
    height: 16px;
    fill: var(--light);
    display: block;
}
/* ============ CLIENTS ========*/
.client.list{
    gap: 24px;
    justify-content: space-between;
}
.client-image{
    width: 104px;
    height: 56px;
    display: block;
    fill: var(--svg-icons-color);
}
.client.list .link:hover  svg,
.client.list .link:focus  svg{
    fill: var(--primary-brand);
}
.client.list .link:hover,
.client.list .link:focus{
    border: 1px solid var(--primary-brand);
}
.client.list .link{
    display: block;
    border: 1px solid var(--svg-icons-color);
    padding: 16px 32px;
    border-radius: 4px;
}
/* ============ SOCIAL MEDIA IN FOOTER ========*/
.footer-contacts {
    justify-content: space-between;
}
.footer-contacts .link {
    display: block;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    line-height: 0;
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-contacts .link:hover,
.footer-contacts .link:focus,
.team.contacts .link:hover, 
.team.contacts .link:focus{
    background-color: var(--green-footer-icons);
}
.footer-contacts .icon-contacts {
    width: 24px;
    height: 24px;
    fill: var(--light);
    display: block;
}
.footer-wrapper.primery{
    width: 264px;
}
.footer-wrapper.secondary{
    width: 208px;
    margin-left: 120px;
}
.site-footer .icon-desc{
    color: var(--white);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
    font-weight: 600;
}
